html, body {
    min-height: 100%;
    font-family: monospace;
}

body > div {
    flex: 1;
}

.side-bar {
    background-color: #000211;
    height: auto;
    text-align: center;
}

.profile-content {
    color: white;
}

.profile-image {
    width: inherit;
    height: auto;
    border-radius: 5px;
}

.btn-side-bar {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-side-bar:hover {
    color: #f8f9fa;
}

.main {
    background: radial-gradient(circle, rgba(45,122,227,1) 0%, rgba(0,0,0,1) 100%) no-repeat;
    height: auto;
    margin: 0px;
}