.experience {
  position: relative;
  display: flex;
  gap: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--background-card);
    color: var(--text-color);
    flex: 1;

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      gap: 1rem;

      .title-and-company {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--text-color);
        }

        .company {
          color: var(--text-color);
          font-weight: 500;
        }
      }

      .date {
        display: flex;
        gap: 0.5rem;
        color: var(--text-secondary-color);
      }
    }

    .description {
      font-size: 1rem;
      color: var(--text-muted-color);
      line-height: 1.5;
    }

    .gallery {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 0.5rem;
      align-items: center;

      .images {
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 1rem;
        margin-top: 0.5rem;

        background-color: var(--background-card-secondary);
        padding: 1rem 0.5rem;
        border-radius: var(--border-radius);

        .imageContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            height: auto;
            border-radius: var(--border-radius);
          }

          .description {
            margin-top: 0.5rem;
            font-size: 0.9rem;
            color: var(--text-color);
          }
        }
      }
    }

    .footer {
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      .technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
      }

      .toggle-gallery {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        font-size: 1rem;
        cursor: pointer;
        color: var(--text-color);
        background-color: var(--background-card-secondary);
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        transition: scale 0.3s ease;
        height: fit-content;
        white-space: nowrap;
        align-self: end;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
