/* latin */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html,
body {
  background: #1b2020;
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-family: 'Cantarell';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}