.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.card {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 1024px;
  height: 600px;
  padding: 0 50px;
  // background: linear-gradient(140deg, #272f32 0%,  #040404 100%);
  background: linear-gradient(140deg,#ffffff,#9b9b9b);
  border: 1px solid #353c3e;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px #000000;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.frontcard {
  display: block;
}

.init {
  transition: 0ms;
}

.backcard {
  transform: rotateY(-90deg);
}

.dalayedtransition {
  transition-delay: 1s;
}

.cardflipfront {
  transform: rotateY(90deg);
}

.cardflipback {
  transform: rotateY(0deg);
}

.headline {
  font-weight: 900;
  text-align: center;
  color: #333739;
  text-transform: uppercase;
}

.name {
  font-family: 'Ubuntu';
  font-weight: 900;
  text-align: center;
  margin-top: 0px;
  // width: 600px;
  font-size: 70px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
}

.medias {
  text-align: center;
}

.media {
  color: #333739;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 1s ease-in-out;

  &:hover {
    transform: scale(1.4);
  }
}

.code {
  // margin-top: 20px;
  padding: 0 85px;
  font-size: 15px;
  text-align: left;
}

.content {
  display: flex;
  width: 100%;
  flex: 1;
}

.side {
  position: relative;
  flex: 1;
  align-self: center;
  // border: 2px solid yellow;
}

.sidea {
  overflow: hidden;

}

.card-logo {
  position: absolute;
  top: -600px;
  right: -200px;
  height: 800px;
  width: auto;
  transform: rotate(30deg);
}

.profile-image {
  filter: brightness(.8);
  position: absolute;
  bottom: 1px;
  right: 375px;
  height: 500px;
  width: auto;
}

.arrow {
  color: #333739;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  transition: all 1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.nextarrow {
  bottom: 50px;
  right: 50px;
}

.prevarrow {
  bottom: 50px;
  left: 50px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
  color: white;
}