:root {
  --header-height: 4rem;
  --footer-height: 4rem;
  --border-radius: 0.5rem;
  --text-primary: Arial, Helvetica, sans-serif;
  --text-secondary: Courier New, monospace;
}

:root,
.theme-dark {
  --background: #18181b;
  --background-secondary: #18181b;
  --background-card: #27272a;
  --background-card-secondary: #444;
  --title-color: #eee;
  --text-color: #eee;
  --text-secondary-color: #666;
  --text-muted-color: #cccccc;
  --border-color: #27272a;

  --shadow: rgba(130, 130, 130, 0.1);
}

.theme-matrix {
  --background: transparent;
  --background-secondary: #000000;
  --background-card: #0a0a0a;
  --background-card-secondary: #111111;
  --title-color: #00ff00;
  --text-color: #00ff00;
  --text-secondary-color: #008900;
  --text-muted-color: #cccccc;
  --border-color: #008900;

  --shadow: rgba(0, 255, 0, 0.1);
}

.theme-light {
  --background: #eee;
  --background-secondary: #eee;
  --background-card: #fff;
  --background-card-secondary: #d7d7d7;
  --title-color: #18181b;
  --text-color: #18181b;
  --text-secondary-color: #393939;
  --text-muted-color: #666;
  --border-color: #393939;

  --shadow: rgba(0, 0, 0, 0.1);
}

html,
body {
  background: var(--background);
  color: var(--text-color);
  max-width: 100vw;
  overflow-x: hidden;
  transition: background 0.2s, color 0.2s;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main > * {
  animation: fadeInUp 0.6s ease-in both;
}
