.header {
  width: 100%;
  padding: 1.2rem 0 0.5rem 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;

    .tab {
      color: #333;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.4rem 1rem;
      border-radius: 4px;
      transition: background 0.15s, color 0.15s;
      letter-spacing: 0.5px;
      cursor: pointer;

      &:hover,
      &:focus {
        background: #333;
        color: #fff;
      }

      &[data-active="true"] {
        background: #333;
        color: #fff;
      }
    }
  }

  .theme-toggle {
    background: none;
    border: none;

    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;

    align-items: center;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;

    color: var(--text);

    &:hover {
      transform: rotate(360deg);
      transition: transform 2s ease-in-out;
    }
  }
}
